.pension-page{
    text-align: center;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pension-block{
    width: 75%;
    padding: 2rem;
    border-radius: 7px;
    background-color: #b0d37c;
}
.pension-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pension-text{
    color: #646819;
    text-align: center;
    padding: 1rem;
}